.bg-mynav {
    background-color: #5d4e4e;
  }
  
  body {
    font-size: 1.25rem;
    background-color: #ffffff;
  }
  
  td {
    line-height: 3rem;
  }
  h2{
    color: rgb(173, 56, 56);
  }
  .table{
    color: rgb(0, 0, 0);
  }
